<!-- Extends default Bootstrap Unical Italia template -->
{% extends 'rp_base.html' %}
{% load i18n %}
{% load static %}

{% block centered_container %}

<div class="col-12 col-lg-6 pl-lg-4">
    {% csrf_token %}
    <div class="callout danger">
        <div class="callout-title">
            {% trans error%} 
        </div>

        <p>
            {% trans error_description%} 
        </p>
    </div>
</div>
<script src="{% static 'js/spid-sp-access-button.js' %}"></script>
<script src="{% static 'js/spid_button.js' %}"></script>

{% endblock %}