<!-- Extends default Bootstrap Unical Italia template -->
{% extends 'rp_base.html' %}
{% load i18n %}
{% load static %}

{% block centered_container %}

<div class="col-12 pl-lg-4">

    <div class="row p-3">
    <h3 class="text-left">
        {% trans "Welcome" %}
    </h3>

    <p class="card-title">
        
        {% blocktrans %}
        SPID is the access system that allows you to use online services with a unique digital identity. 
        If you already have a digital identity, login with your Identity Provider. 
        If you don’t have a digital identity yet, choose an Identity Provider where obtain your SPID Digital Identity.
        {% endblocktrans %}

    </p>

    <p class="card-title"></p>

        {% blocktrans %}
        If you have the new Electronic Identity Card (CIE) you can use it to access the services
        online Public Administration. You need the PIN and PUK codes:
        the first part of the two codes is in the receipt of the CIE request, the second part is delivered
        together with the CIE. Visit the official site of CIE id to get the software, documentation and tutorial.
        {% endblocktrans %}

    </p>
    </div>

    <div class="row mt-3">
        <div class="col">
            <span
                class="badge square-corners mb-3 mr-2 ml-0 pr-10 p-2 mw-100">
                <a href="#" class="italia-it-button italia-it-button-size-m button-spid"
                    spid-idp-button="#spid-idp-button-medium-get" aria-expanded="false">
                    <span class="italia-it-button-icon"><img
                            src="{% static 'svg/spid-ico-circle-bb.svg' %}"
                            alt=""></span>
                    <span class="italia-it-button-text">{% trans "Entra con SPID" %}</span>
                </a>
                <div id="spid-idp-button-medium-get"
                    class="spid-idp-button spid-idp-button-tip spid-idp-button-relative"
                    style="display: none; left: 56.5px; top: 46.05px;">

                    <ul id="spid-idp-list-medium-root-get" class="spid-idp-button-menu"
                        aria-labelledby="spid-idp">
                        {% for sub, attrs in spid_providers.items %}
                            <li>
                                <a href="{% url 'spid_cie_rp_begin' %}?provider={{sub}}&profile=spid" id="provider-spid">
                                    <span class="spid-sr-only">{{ attrs.organization_name }}</span>
                                    {% if attrs.logo_uri %}
                                    <img src="{{ attrs.logo_uri }}" alt="{{ attrs.organization_name }}">
                                    {% else %}
                                    <img src="{% static 'svg/no_image_available.svg' %}" alt="{{ sub }}">
                                    <p>{{ sub }}</p>
                                    {% endif %}
                                </a>
                            </li>
                         <li>
                            <a href="{% url 'spid_cie_rp_begin' %}?provider={{sub}}&profile=spid&scope=openid offline_access" id="provider-spid-refresh_token">
                                <span class="spid-sr-only">{{ attrs.organization_name }}</span>
                                {% if attrs.logo_uri %}
                                <img src="{{ attrs.logo_uri }}-LTS.svg" alt="{{ attrs.organization_name }}">
                                {% else %}
                                <img src="{% static 'svg/no_image_available.svg' %}" alt="{{ sub }}">
                                <p>{{ sub }}</p>
                                {% endif %}
                            </a>
                         </li>
                        {% endfor %}
                    </ul>
                </div>

            </span>

            <span
                class="badge square-corners mb-3 mr-2 ml-0 pr-10 p-2 mw-100"
                style="font-size: 100%">

                <a href="#" class="italia-it-button italia-it-button-size-m button-cie"
                    cie-idp-button="#cie-idp-button-medium-get">
                    <span class="italia-it-button-icon"><img
                            src="{% static 'svg/cie-ico-circle-bb.svg' %}"
                            alt="">
                    </span>
                    <span class="italia-it-button-text">{% trans "Entra con CIE" %}</span>
                </a>
                <div id="cie-idp-button-medium-get"
                    class="cie-idp-button cie-idp-button-tip cie-idp-button-relative"
                    style="display: none; left: 56.5px; top: 46.05px;">

                    <ul id="cie-idp-list-medium-root-get" class="cie-idp-button-menu" aria-labelledby="cie-idp">
                        {% for sub, attrs in cie_providers.items %}
                                <li>
                                    <a href="{% url 'spid_cie_rp_begin' %}?provider={{sub}}&profile=cie" id="provider-cie">
                                        <span class="spid-sr-only">{{ attrs.organization_name }}</span>
                                        {% if attrs.logo_uri %}
                                        <img src="{{ attrs.logo_uri }}" alt="{{ attrs.organization_name }}">
                                        {% else %}
                                        <img src="{% static 'svg/no_image_available.svg' %}" alt="{{ sub }}">
                                        <p>{{ sub }}</p>
                                        {% endif %}
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'spid_cie_rp_begin' %}?provider={{sub}}&profile=cie&scope=openid offline_access" id="provider-cie-refresh_token">
                                        <span class="spid-sr-only">{{ attrs.organization_name }} {% trans "INCLUDING REFRESH TOKEN" %}</span>
                                        {% if attrs.logo_uri %}
                                        <img src="{{ attrs.logo_uri }}" alt="{{ attrs.organization_name }}">
                                        <p>{% trans "INCLUDING REFRESH TOKEN" %}</p>
                                        {% else %}
                                        <img src="{% static 'svg/no_image_available.svg' %}" alt="{{ sub }}">

                                        {% endif %}
                                    </a>
                                </li>
                        {% endfor %}
                    </ul>
                </div>
            </span>
        </div>
    </div>

</div>
<script src="{% static 'js/spid-sp-access-button.js' %}"></script>
<script src="{% static 'js/spid_button.js' %}"></script>

{% endblock %}