<!-- Extends default Bootstrap Unical Italia template -->
{% extends 'base.html' %}
{% load i18n %}

{% block centered_container %}

<div class="col-12 pl-lg-4">
   <h4 class="text-left">
      {% trans "Onboard your entity" %}
   </h4>

   <p class="card-title">
      {% lorem 1 %}
   </p>
   <form method="post" action="">
      {% csrf_token %}
      {% for form_field in form %}
      <div class="form-row">
         <div class="col-12 form-group my-3">
            <label for="id_{{ form_field.html_name }}">
               <span class="form-label-content">
                  {{ form_field.label }}
               </span>
            </label>
            {% if form_field.field.widget.input_type%}
            <input type="{{ form_field.field.widget.input_type }}" class="form-control"
               id="id_{{ form_field.html_name }}" name="{{ form_field.name }}" value="{{form_field.value}}">
            {% else%}
            <textarea id="id_{{ form_field.html_name }}"
               name="{{ form_field.name }}">{{ form.public_jwks.value}}</textarea>
            {% endif %}
         </div>
         <span for="id_{{ form_field.html_name }}" class="text-danger">{{ form_field.errors }}</span>
      </div>
      {% endfor %}

      <input type="submit" name="confirm" class="btn btn-lg btn-success btn-block" value="{% trans 'Submit' %}" />
   </form>

</div>
{% endblock %}