<!-- Extends default Bootstrap Unical Italia template -->
{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block centered_container %}

<div class="col-12 col-lg-12">
    <div class="ml-4 mb-4">
        <h4 class="text-left">
            {% trans "Schemas token endpoint" %}
        </h4>
    </div>
    <div class="pl-lg-3">
        <div id="collapseDiv1-sc1" class="collapse-div collapse-background-active" role="tablist">
            <div class="collapse-header" id="heading1-sc1">
                <button data-toggle="collapse" data-target="#collapse1-sc1" aria-expanded="false"
                    aria-controls="collapse1-sc1">
                    {% trans "token authn code request" %}
                </button>
            </div>
            <div id="collapse1-sc1" class="collapse" role="tabpanel" aria-labelledby="heading1-sc1">
                <div class="collapse-body">
                    <pre>
                        {{auth_code_req | linebreaks}}
                    </pre>
                </div>
            </div>
            <div class="collapse-header" id="heading2-sc2">
                <button data-toggle="collapse" data-target="#collapse2-sc2" aria-expanded="false"
                    aria-controls="collapse2-sc2">
                    {% trans "token authn code response" %}
                </button>
            </div>
            <div id="collapse2-sc2" class="collapse" role="tabpanel" aria-labelledby="heading2-sc2">
                <div class="collapse-body">
                    <pre>
                        {{auth_code_res | linebreaks}}
                    </pre>
                </div>
            </div>
            <div class="collapse-header" id="heading3-sc3">
                <button data-toggle="collapse" data-target="#collapse3-sc3" aria-expanded="false"
                    aria-controls="collapse3-sc3">
                    {% trans "refresh token request" %}
                </button>
            </div>
            <div id="collapse3-sc3" class="collapse" role="tabpanel" aria-labelledby="heading3-sc3">
                <div class="collapse-body">
                    <pre>
                        {{refr_req | linebreaks}}
                    </pre>
                </div>
            </div>
            <div class="collapse-header" id="heading4-sc4">
                <button data-toggle="collapse" data-target="#collapse4-sc4" aria-expanded="false"
                    aria-controls="collapse4-sc4">
                    {% trans "refresh token response" %}
                </button>
            </div>
            <div id="collapse4-sc4" class="collapse" role="tabpanel" aria-labelledby="heading4-sc4">
                <div class="collapse-body">
                    <pre>
                        {{refr_res | linebreaks}}
                    </pre>
                </div>
            </div>
            <div class="collapse-header" id="heading5-sc5">
                <button data-toggle="collapse" data-target="#collapse5-sc5" aria-expanded="false"
                    aria-controls="collapse5-sc5">
                    {% trans "token error response" %}
                </button>
            </div>
            <div id="collapse5-sc5" class="collapse" role="tabpanel" aria-labelledby="heading5-sc5">
                <div class="collapse-body">
                    <pre>
                        {{err_res | linebreaks}}
                    </pre>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}