<!-- Extends default Bootstrap Unical Italia template -->
{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block container %}
<div>
<div class="container p-3">
<div class="row d-lg-flex">
    <div class="col-12">
        <div class="card-wrapper card-space">
            <div class="card card-bg no-after">
                <div class="card-body">
                    <div class="row h-100">
                        
                        <div class="col-12 col-lg-12">
                            <div class="ml-2">
                                <h4 class="text-left">
                                    {% trans "Schemas token endpoint" %}
                                </h4>
                            </div>

                            <div class="row">
                                
                                <div class="m-3">
                                    <h5 class="text-left">
                                        {% trans "token authn code request" %}
                                    </h5>
                                    <div>
                                        <pre class="card-title">
                                            {{auth_code_req | linebreaks}}
                                        </pre>
                                    </div>
                                    <h5 class="text-left">
                                        {% trans "token authn code response" %}
                                    </h5>
                                    <pre class="card-title">
                                        {{auth_code_res | linebreaks}}
                                    </pre>

                                    <h5 class="text-left">
                                        {% trans "refresh token request" %}
                                    </h5>
                                    <pre class="card-title">
                                        {{refr_req | linebreaks}}
                                    </pre>

                                    <h5 class="text-left">
                                        {% trans "refresh token response" %}
                                    </h5>
                                    <pre class="card-title">
                                        {{refr_res | linebreaks}}
                                    </pre>

                                    <h5 class="text-left">
                                        {% trans "token error response" %}
                                    </h5>
                                    <pre class="card-title">
                                        {{err_res | linebreaks}}
                                    </pre>
                                </div>
                            </div>
                        </div>
                
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
{% endblock container %}
