<!-- Extends default Bootstrap Unical Italia template -->
{% extends 'base.html' %}
{% load i18n %}

{% block container %}

<div>
   <div class="container pt-2 p-3">

      <div class="row d-lg-flex">
         <div class="col-12">
            <div class="card-wrapper card-space">
               <div class="card card-bg no-after">
                  <div class="card-body pl-lg-0">
                     <div class="row h-100">
                        <div class="col-12 pl-lg-4">
                           <h4 class="text-left">
                              {% trans jwk_titile %}
                           </h4>
                           
                           <form method="post" action="">
                              {% csrf_token %}
                              <div class="form-row">
                                 <div class="col-12 form-group my-3">
                                    <textarea id="jwk" rows="14"
                                       name="jwk">{{ jwk }}</textarea>
                                 </div>
                              </div>

                           </form>

                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
{% endblock container %}
