<!-- Extends default Bootstrap Unical Italia template -->
{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block container %}
<div>
   <div class="container p-3">

<div class="row d-lg-flex">
    <div class="col-12">
        <div class="card-wrapper card-space">
            <div class="card card-bg no-after">
                <div class="card-body">
                    <div class="row h-100">
                        
                        <div class="col-12 col-lg-12">
                            <div class="ml-2 mb-5">
                                <h4 class="text-left">
                                    {% trans "Schemas jwt" %}
                                </h4>
                            </div>
                            <div id="collapseDiv1-sc1" class="collapse-div collapse-background-active" role="tablist">
                                <div class="collapse-header" id="heading1-sc1">
                                    <button data-toggle="collapse" data-target="#collapse1-sc1" aria-expanded="false" aria-controls="collapse1-sc1">
                                        {% trans "jwt client assertion" %}
                                    </button>
                                </div>
                                <div id="collapse1-sc1" class="collapse" role="tabpanel" aria-labelledby="heading1-sc1">
                                    <div class="collapse-body">
                                        <pre>
                                            {{jwt_client_asser | linebreaks}}
                                        </pre>
                                    </div>
                                </div>
                                
                            </div>
                            
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
{% endblock container %}
