<!-- Extends default Bootstrap Unical Italia template -->
{% extends 'base.html' %}
{% load i18n %}

{% block centered_container %}

<div class="col-12 pl-lg-4">
   <h4 class="text-left">
      {% trans "Onboard your entity" %}
   </h4>

   <p class="card-title">
      {% blocktrans %} 
         Welcome to the example onboarding system of spid-cie-oidc-django. 
         In this page you can register a OIDC Federation entity to be onboarded in the federation.

         The form has some preliminar validations for your entity configuration, 
         once submitted, validated and tested, a Federation operator will enable your entity as a Descendant of the Federation Authority.
      
      {% endblocktrans%}
   </p>
   <form method="post" action="">
      {% csrf_token %}
      {% for form_field in form %}
      <div class="form-row">
         <div class="col-12 form-group my-3">
            <label for="id_{{ form_field.html_name }}">
               <span class="form-label-content">
                  {{ form_field.label }}
               </span>
            </label>
            {% if form_field.field.widget.input_type == 'select'%}
               <div class="bootstrap-select-wrapper mb-4">
                  <select name="{{ form_field.name }}" id="id_{{ form_field.html_name }}">
                     {% for value, label in form_field.field.choices %}
                     <option value="{{ value }}" {% if form_field.value == value %} selected {% endif %}>
                        {{ label }}
                     </option>
                     {% endfor %}
                  </select>
               </div>
            {% elif form_field.name == 'public_jwks' %}
               <textarea id="id_{{ form_field.html_name }}" rows="5"
                  name="{{ form_field.name }}">{{ form.public_jwks.value}}</textarea>
            {% else %}
            <input type="{{ form_field.field.widget.input_type }}" class="form-control"
               id="id_{{ form_field.html_name }}" name="{{ form_field.name }}" value="{{form_field.value}}">
            {% endif %}
         </div>
         <span for="id_{{ form_field.html_name }}" class="text-danger">{{ form_field.errors }}</span>
      </div>
      {% endfor %}

      <input type="submit" name="confirm" class="btn btn-lg btn-success btn-block" value="{% trans 'Submit' %}" />
   </form>

</div>
{% endblock %}