<!-- Extends default Bootstrap Unical Italia template -->
{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block container %}
<div>
   <div class="container p-3">

<div class="row d-lg-flex">
    <div class="col-12">
        <div class="card-wrapper card-space">
            <div class="card card-bg no-after">
                <div class="card-body">
                    <div class="row h-100">
                        
                        <div class="col-12 col-lg-12">
                            <div class="ml-2">
                                <h4 class="text-left">
                                    {% trans "Schemas metadata Spid/Cie" %}
                                </h4>
                            </div>
                            <div class="row">
                                
                                <div class="m-3">
                                    <h5 class="text-left">
                                        {% trans "metadata OP Spid" %}
                                    </h5>
                                    <div>
                                        <pre class="card-title">
                                            {{op_meta_spid | linebreaks}}
                                        </pre>
                                    </div>
                                    <h5 class="text-left">
                                        {% trans "metadata OP Cie" %}
                                    </h5>
                                    <pre class="card-title">
                                        {{op_meta_cie | linebreaks}}
                                    </pre>

                                    <h5 class="text-left">
                                        {% trans "metadata RP Spid" %}
                                    </h5>
                                    <pre class="card-title">
                                        {{rp_meta_spid | linebreaks}}
                                    </pre>
                                    <h5 class="text-left">
                                        {% trans "metadata RP Cie" %}
                                    </h5>
                                    <pre class="card-title">
                                        {{rp_meta_cie | linebreaks}}
                                    </pre>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
{% endblock container %}
