<!-- Extends default Bootstrap Unical Italia template -->
{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block centered_container %}

<div class="col-12 col-lg-12">
    <div class="ml-4 mb-4">
        <h4 class="text-left">
            {% trans "Schemas revocation endpoint" %}
        </h4>
    </div>
    <div class="pl-lg-3">
        <div id="collapseDiv1-sc1" class="collapse-div collapse-background-active" role="tablist">
            <div class="collapse-header" id="heading1-sc1">
                <button data-toggle="collapse" data-target="#collapse1-sc1" aria-expanded="false"
                    aria-controls="collapse1-sc1">
                    {% trans "revocation request" %}
                </button>
            </div>
            <div id="collapse1-sc1" class="collapse" role="tabpanel" aria-labelledby="heading1-sc1">
                <div class="collapse-body">
                    <pre>
                        {{revoc_request | linebreaks}}
                    </pre>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}