<!-- Extends default Bootstrap Unical Italia template -->
{% extends 'bootstrap-italia-base.html' %}

{% load static %}
{% load i18n %}

{% block extra_head %}
    {{ block.super }}  
    <link type="text/css" rel="stylesheet" href="/static/css/provider.css">
{% endblock extra_head %}

{% block page_title %}
{% trans "OIDC Provider" %}
{% endblock page_title %}

<!-- URL link top left -->
{% block header_slim_org_url %}
https://www.spid.gov.it/
{% endblock header_slim_org_url %}

<!-- Name top left -->
{% block header_slim_org_name %}
    {% trans "OIDC Provider" %}
{% endblock header_slim_org_name %}

<!-- Mobile slim_org_name -->
{% block header_slim_mobile_org_name %}
    {% trans "OIDC Provider" %}
{% endblock header_slim_mobile_org_name %}

<!-- Make empty areas -->
{% block header_mobile_arrow %}{% endblock header_mobile_arrow %}
{% block header_mobile_slim_menu %}{% endblock header_mobile_slim_menu %}

<!-- Logo in Header -->
{% block header_center_logo %}
{% endblock header_center_logo %}


<!-- Organization name in Header -->
{% block header_center_org_name %}
<a href="#">{% trans "OIDC Provider" %}</a>
{% endblock header_center_org_name %}


<!-- Organization description in Header -->
{% block header_center_org_subname %}
{% endblock header_center_org_subname %}

{% block container %}
<div>
    <div class="container pt-2 p-4">
        <div class="row d-lg-flex">
            <div class="col-12">
                <div class="card-wrapper card-space">
                    <div class="card card-bg no-after">
                        <div class="card-body">
                            <div class="row h-100 px-4 pb-4">
                                {% block centered_container %}{% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock container %}

<!-- Logo in Footer -->
{% block footer_logo %}
{% endblock footer_logo %}

<!-- Organization name in Footer -->
{% block footer_org_name %}
    {% trans "OIDC Provider" %}
{% endblock footer_org_name %}

<!-- Organization name in Footer -->
{% block footer_org_subname %}
    {% trans "OIDC Provider" %}
{% endblock footer_org_subname %}

{% block extra_scripts %}
{% block bootstrap_italia_validation %}

{% endblock bootstrap_italia_validation %}
{% endblock extra_scripts %}

{% block footer_menu_section %}
{% endblock footer_menu_section %}