{% extends 'op_base.html' %}
{% load i18n %}
{% load static %}

{% block container %}
<div>
    <div class="container pt-2 p-3">

        <div class="row d-lg-flex">
            <div class="col-12">
                <div class="card-wrapper card-space">
                    <div class="card card-bg no-after">
                        <div class="card-body pl-lg-0">
                            <div class="row h-100">

                                <div class="col-12 pl-lg-4">

                                    <div class="p-3">
                                        <h4 class="text-left">{% trans 'Staff panel for testing' %}</h4>

                                        <p class="card-title">

                                            {% blocktrans %}
                                            this is staff users test panel, you have the right to modify your 
                                            personal attributes and verify the compliance of a RP with SPID and/or CIE                                           
                                            {% endblocktrans %}

                                        </p>
                                    </div>

                                    <form method="POST" action="{% url 'oidc_provider_staff_testing' %}">
                                        {% csrf_token %}
                                        {% for form_field in form %}
                                        {% if form_field.field.widget.input_type != 'radio'%}
                                        <div class="form-row p-3">
                                            <label class="ml-2">
                                                <span class="form-label-content">
                                                   {{ form_field.label }}
                                                </span>
                                             </label>
                                            <div class="col-12 form-group my-2">
                                                <textarea rows="15" type="{{ form_field.field.widget.input_type }}" 
                                                    class="form-control border" id="id_{{ form_field.html_name }}" 
                                                    name="{{ form_field.name }}" >{{attributes}}</textarea>
                                            </div>
                                            <span for="id_{{ form_field.html_name }}" class="text-danger">{{ form_field.errors }}</span>
                                        </div>
                                        {% endif %}
                                        {% if form_field.field.widget.input_type == 'radio'%}
                                        <div class="p-4">
                                            <label>
                                                <span class="form-label-content">
                                                {% trans "select following tests to get the response" %}</span>
                                            </label>
                                            <div class="row border p-2">
                                                {% for value, label in form_field.field.choices %}
                                                    {% if forloop.counter|divisibleby:2 %}
                                                    <div class="form-check form-check-group col-5">
                                                        <input type="{{ form_field.field.widget.input_type }}" 
                                                            id="id_{{ label }}" name="{{ form_field.name }}" value="{{ value }}">
                                                        <label for="id_{{ label }}">{{label}}</label>
                                                    </div>
                                                    {% else %}
                                                    <div class="form-check form-check-group col-5">
                                                        <input type="{{ form_field.field.widget.input_type }}" 
                                                            id="id_{{ label }}" name="{{ form_field.name }}" value="{{ value }}">
                                                        <label for="id_{{ label }}">{{label}}</label>
                                                    </div>
                                                    <div class="col-2"></div> 
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                        {% endif %}
                                        <span for="id_{{ form_field.html_name }}" class="text-danger">{{ form_field.errors }}</span>  
                                        {% endfor %}
                                        <input type="submit" name="confirm" class="btn btn-lg btn-success btn-block mt-3"
                                            value="{% trans 'Submit' %}" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endblock container %}
