{% extends 'op_base.html' %}
{% load i18n %}
{% load static %}

{% block container %}
<div>
    <div class="container pt-2 p-3">

        <div class="row d-lg-flex">
            <div class="col-12">
                <div class="card-wrapper card-space">
                    <div class="card card-bg no-after">
                        <div class="card-body pl-lg-0">
                            <div class="row h-100">

                                <div class="col-12 pl-lg-4">

                                    <div class="row mt-2 ml-1">
                                        <div>
                                            <h4 class="text-left">{% trans 'Testing' %}</h4>
                                        </div>
                                    </div>

                                    <form method="POST" action="{% url 'oidc_provider_staff_testing' %}">
                                        {% csrf_token %}
                                        <fieldset>
                                            <div class="row">

                                                {% for form_field in form.visible_fields %}
                                                    <div class="form-row">
                                                        <div class="col-12 form-group my-3">
                                                        <label for="id_{{ form_field.html_name }}">
                                                            <span class="form-label-content">
                                                                {{ form_field.label }}
                                                            </span>
                                                        </label>
                                                        {% if form_field.field.widget.input_type%}
                                                        <input type="{{ form_field.field.widget.input_type }}" 
                                                            class="form-control" id="id_{{ form_field.html_name }}" 
                                                            name="{{ form_field.name }}" value="{{form_field.value}}">
                                                        {% endif %}
                                                        </div>
                                                        <span for="id_{{ form_field.html_name }}" class="text-danger">{{ form_field.errors }}</span>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="{% static 'js/spid-sp-access-button.js' %}"></script>
        <script src="{% static 'js/spid_button.js' %}"></script>
        {% endblock container %}
