
{% extends 'op_base.html' %}
{% load i18n %}
{% load static %}

{% block container %}
<div>
    <div class="container pt-2 p-3">

        <div class="d-lg-flex">
            <div class="col-12">
                <div class="card-space card-wrapper">
                    <div class="card card-bg no-after">
                        <div class="card-body pl-lg-0 pb-0">
                            <div class="h-100">
                                <div class="col-12 pl-lg-4 ">
                                        <h4 class="bd-title">{% trans 'Relying Party test page' %}</h4>
                                        <p>{% trans "You're a staff user and currently testing " %}<b>{{session.client_id}}</b>.</p>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

               

                <form method="POST" action="{% url 'oidc_provider_staff_testing' %}">
                    {% csrf_token %}
                    
                    
                        <div class="row">
                            <div class="col-sm">
                            <div class="card-space card-wrapper">
                                <div class="card card-bg no-after">
                                    <div class="card-body pl-lg-0">
                                        <div class="row h-100">
            
                                            <div class="col-12 pl-lg-4">
                                            <h5 class="bd-title">{% trans "Editable user attributes to be released" %}</h5>
                                            {% for form_field in form_attrs %}
                                            <div class="form-row" class=>
                                                <div class="col-12 form-group my-2">
                                                    <!-- <label for="id_{{ form_field.html_name }}">
                                                        <span class="form-label-content">
                                                            {{ form_field.label }}
                                                        </span>
                                                    </label> -->
                                                    <textarea rows="15" type="{{ form_field.field.widget.input_type }}" 
                                                        class="form-control border" id="id_{{ form_field.html_name }}" 
                                                        name="{{ form_field.name }}" >{{attributes}}</textarea>
                                                </div>
                                                <span for="id_{{ form_field.html_name }}" class="text-danger">{{ form_field.errors }}</span>
                                            </div>
                                            {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="col-sm">
                            
                                <div class="card-space card-wrapper">
                                    <div class="card card-bg no-after h-100">
                                        <div class="card-body pl-lg-0">
                                            <div class="row">
                
                                                <div class="col-12 pl-lg-4">

                                                <div class="pl-4">
                                                    <h5 class="bd-title">{% trans "Auth code response and tokens modifiers" %}</h5>
                                                    <hr>
                                                    {% for form_field in form_checks %}
                                                    <div class="">
                                                        {% for value, label in form_field.field.choices %}
                                                            <div class="form-check">
                                                                <input type="{{ form_field.field.widget.input_type }}" 
                                                                    id="id_{{ label }}" name="{{ form_field.name }}" value="{{ value }}">
                                                                <label for="id_{{ label }}">{{label}}</label>
                                                            </div>   
                                                        {% endfor %}
                                                    </div>
                                                    <span for="id_{{ form_field.html_name }}" class="text-danger">{{ form_field.errors }}</span>
                                                    {% endfor %}    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 pt-4 text-center">
                            <a href="{% url 'oidc_provider_not_consent' %}"
                                class="italia-it-button italia-it-button-cancel-m button-cancel mb-4 mr-4">
                                <span class="italia-it-buttons-text">{% trans "Deny consent" %}</span>
                            </a>
                            <button class="italia-it-button italia-it-button-size-m button-login mb-4 mr-4" type="submit">
                            <span class="italia-it-buttons-text">{% trans "Test" %}</span></button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock container %}