{% extends 'op_base.html' %}
{% load i18n %}
{% load static %}
{% load spid_cie_op %}

{% block menu_links %}

<li class="nav-item ">
    <a class="nav-link {% if request.resolver_match.view_name == 'oidc_provider_consent' %}active{% endif %}" 
    href="{% url 'oidc_provider_consent' %}">
        <span>{% trans 'Home' %}</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link {% if request.resolver_match.view_name == 'oidc_provider_access_history' %}active{% endif %}" 
    href="{% url 'oidc_provider_access_history' %}">
        <span>{% trans 'Access History' %}</span>
    </a>
</li>

{% endblock menu_links %}

{% block centered_container %}

<div class="col-12">

    <div class="row row-header border-bottom no-border-bottom-xs">
        <div class="wrap-container">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <a href="/" title="torna alla home">
                    <img src="{% oidc_provider_logo %}" alt="Home" width="120">
                </a>
            </div>
            <div class="clear pt-2"></div>
        </div>
    </div>

    <div class="row mt-5 ml-1">
        <div>
            <div class="">
                <h4 class="text-muted">{% trans 'SPID level access request from' %}</h4>
                <h3>{{ client_organization_name }}</h3>
            </div>
        </div>
    </div>

    <div class="row mt-5 ml-1">
        <div>
            <p class="font-weight-semibold">
                {% trans 'For the proper functioning of the requestor service you must give your consent to the release of the following data '%}
            </p>
        </div>
    </div>
    <form method="POST" action="{% url 'oidc_provider_consent' %}">
        {% csrf_token %}
        <fieldset>
            <div class="row">

                        {% for form_field in form.visible_fields %}
                        <div class="form-row">
                            <div class="col-12 form-group my-3">
                            <label for="id_{{ form_field.html_name }}">
                                <span class="form-label-content">
                                    {{ form_field.label }}
                                </span>
                            </label>
                            {% if form_field.field.widget.input_type%}
                            <input type="{{ form_field.field.widget.input_type }}" 
                                class="form-control" id="id_{{ form_field.html_name }}" 
                                name="{{ form_field.name }}" value="{{form_field.value|default_if_none:""}}">
                            {% else%}
                            <textarea id="id_{{ form_field.html_name }}"
                                name="{{ form_field.name }}">{{ form.public_jwks.value}}</textarea>
                            {% endif %}
                            </div>
                            <span for="id_{{ form_field.html_name }}" class="text-danger">{{ form_field.errors }}</span>
                        </div>
                        {% endfor %}

                        {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                        {% endfor %}

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div>
                        <ul>
                            {% for claim in user_claims %}
                                <li>{{ claim }}</li>
                            {% endfor %}
                        </ul>
                        <div class="col-sm-12 pt-4">
                            <a href="{% url 'oidc_provider_not_consent' %}?redirect_uri={{ redirect_uri }}&state={{state}}"
                                class="italia-it-button italia-it-button-cancel-m button-cancel mb-4 mr-4" id="do_not_agree">
                                <span class="italia-it-buttons-text">{% trans "DO NOT AGREE" %}</span>
                            </a>
                            <button id="agree" class="italia-it-button italia-it-button-size-m button-login" type="submit">
                            <span class="italia-it-buttons-text">{% trans "AGREE" %}</span></button>
                        </div>
                    </div>
                </div>

            </div>
        </fieldset>
    </form>
</div>

<script src="{% static 'js/spid-sp-access-button.js' %}"></script>
<script src="{% static 'js/spid_button.js' %}"></script>
{% endblock %}
