<!-- Extends default Bootstrap Unical Italia template -->
{% extends 'base.html' %}
{% load i18n %}
{% load static %}


{% block container %}
<div>
    <div class="container pt-2 p-3">
       <div class="d-lg-flex">
            <div class="col-12">
                <div class="row">
                    <div class="card-wrapper card-space col-6">
                        <div class="card card-bg no-after">
                            <div class="card-body pl-lg-0">
                                <div class="h-100">
                                    <div class="col-12">
                                        <div class="img-responsive-wrapper d-none d-lg-block h-100">
                                            <div class="img-responsive img-responsive-panoramic h-100 ml-4 mt-2">
                                                <figure class="img-wrapper">
                                                    <img alt="superman" class="h-100" src="{% static 'images/SPID-e-CIE-696x383.jpg' %}" title="spid-cie">
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-wrapper card-space col-6">
                        <div class="card card-bg no-after">
                            <div class="card-body pl-lg-0">
                                <div class="row h-100">
                                    <div class="col-12 pl-lg-4">

                                        <div class="row m-2">
                                            <h4 class="text-left">
                                                {% trans "Welcome" %}
                                            </h4>
                                    
                                    
                                            <p class="card-title">
                                                {% blocktrans %}
                                                The SPID/CIE onboarding demostration system wants to exemplify what 
                                                information is required to
                                                register and test a leaf entity within the OIDC Federation.
                                                {% endblocktrans %}
                                            </p>
                                    
                                            <p class="card-title">
                                                {% blocktrans %}
                                                In this demonstration consider that you are registering your RP or OP to a Federation Authority.
                                                {% endblocktrans %}
                                            </p>
                                        </div>
                                    
                                        <div class="row mt-3">
                                            <div class="col">
                                                <span class="badge" style="font-size: 100%">
                                                    <a href="{% url 'oidc_onboarding_entities' %}" class="btn btn-secondary btn-block">
                                                        {% trans "Show accredited entities" %}
                                                    </a>
                                                </span>
                                                <span class="badge mb-3 mr-2 ml-0 pr-10 p-2 mw-100" style="font-size: 100%">
                                                    <a href="{% url 'oidc_onboarding_registration' %}" class="btn btn-primary btn-block">
                                                        {% trans "Register your entity" %}
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock container %}
