<!-- Extends default Bootstrap Unical Italia template -->
{% extends 'base.html' %}
{% load i18n %}

{% block centered_container %}
<div class="col-12 pl-lg-4">
    <h4 class="text-left">
        {% trans "Validate entity configuration" %}
    </h4>

    <p class="pt-4 mb-4">
        {% trans "enter a url of entity to check if it is compatible" %}
    </p>

    <form method="post" action="">
        {% csrf_token %}
        <div class="form-row">
            <div class="col-12 form-group my-3">
            <label for="id_url">
                <span class="form-label-content">
                    {% trans "url of the entity" %}
                </span>
            </label>
            
            <input type="url" class="form-control" id="id_url" name="url" value="{{url}}">
            
            </div>
            <span for="id_url" class="text-danger"></span>
        </div>
        {% if ec %}
        <div class="form-row mt-3">
            <div class="col-12 form-group my-3">
                <label for="id_ec">
                    <span class="form-label-content">
                        {% trans "Here the json of entity configuration." %}
                    </span>
                </label>
                <textarea id="id_ec" rows="14" disabled>{{ ec }}</textarea>
            </div>
        </div>
        {% endif %}
        <input type="submit" name="confirm" class="btn btn-lg btn-primary btn-block" value="{% trans 'validate' %}" />
    </form>
</div>
{% endblock %}